<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <pagandoPayment>
                <is_gateway>1</is_gateway>
                <active>0</active>
                <model>XCNetworks\PagandoPayment\Model\PagandoPayment</model>
                <payment_action>authorize_capture</payment_action>
                <order_status>pending_payment</order_status>
                <specificcountry>MX</specificcountry>
            </pagandoPayment>
        </payment>
    </default>
</config>